@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Amiri', serif;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
}

main {
    width: 300px;
    margin: auto;
    padding: 20px;
    /* padding-bottom: 10px; */
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    margin-top: 30vh;
    scale: 2;
    display: flex;
    flex-direction: column;
}

main .buttons {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

main button {
    border-radius: 5px;
    padding: 3px 0;
    border: 0;
    background-color: rgb(83, 90, 185);
    color:white;
    cursor: pointer;
}

main button.colored-button {
    background-color: rgb(131, 55, 244);
}

main button.colored-button:hover {
    background-color: rgb(175, 137, 232);
}


main button:hover {
    background-color: rgb(105, 114, 232);
}

main .top {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    height: 30px;
    display: flex;
}

main .display {
    flex: 1;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 3px 3px;
    display: flex;
    align-items: center;
}

main .top button {
    width: 30px;
    margin-left: 5px;
}

.top-buttons {
    display: flex;
}

#back-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .row {
    display: flex;
    width: 100%;
    /* margin-bottom: 10px; */
}

main .row button {
    flex: 1;
    margin-left: 5px;
}
main .row button:first-of-type {
    margin-left: 0;
}
main .row button:last-of-type {
    width: 30px;
    flex: unset;
}

@media only screen and (max-width: 600px) {
    main {
        width: 150px;
        margin: auto;
        padding: 1.5rem 0.5rem;
        padding-bottom: 15px;
        border-radius: 10px;
        margin-top: 20vh;
    }

    main .top {
        display: flex;
        flex-wrap: wrap;
        justify-content:end;
        align-content: space-around;
        margin-bottom: 1rem;
        gap: 0.3rem;
        
    }

    main .top .display {
        display: flex;
        overflow: scroll;
    }

    .top-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }

    h1 {
        font-size: 2rem;
        margin: 0rem;
    }

    header {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        gap: 1rem;
    }

    h2{
        font-size: 1.2rem;
        font-weight: 600;
    }

    span {
        font-size: 1rem;
        font-weight: 600;
        padding: 0px 30px;
    }
}
